altgraph==0.17.2
dhash==1.3
future==0.18.2
importlib-metadata==4.10.1
keyboard==0.13.5
numpy==1.21.5
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
pefile==2021.9.3
Pillow==9.0.0
psutil==5.9.0
pyinstaller==4.8
pyinstaller-hooks-contrib==2021.5
pywin32==303
pywin32-ctypes==0.2.0
typing-extensions==4.0.1
zipp==3.7.0
tkinter
